
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Ubuntu&display=swap');
body{
    font-family:'Montserrat';
    text-align: center;
}

h1,h2,h3,h4,h5,h6{
    font-family:'Monteserrat'; 
    font-weight: bolder;
}



p{
    color:#8f8f8f
}
/*heading*/
.big-heading{
    font-family: 'Montserrat';
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight:bolder;
}
.section-heading{
    font-size:3rem;
    line-height: 1,5;
}
.container-fluid{
    padding: 7% 15%;
}


/*navigation bar*/
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2rem;
    font-weight: bold;
}
.navbar{
    padding:  0 0 4rem;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-Light";

}

/*download buttom*/

.download-button{
    margin:5% 3% 5% 0;
}
/*  section"*/
.colored-section{
    background-color: #ff4c68;
    color:#fff;
}
.white-section{
    background-color: #fff;
}
/*title */

.title-image{
    width:60%;
 transform: rotate(25deg) ;
 position: absolute;
 right:30%;

}
#title .container-fluid{
    text-align: left;
    padding :3% 15% 7%;

}
/*feature section*/
#features{
    
    background-color: #fff;
      position:relative;
    
     
}


.feature-title{
    font-size: 1.5rem;
}
.row p{
color:#8f8f8f;
padding:0 35px;
}

i:hover(){

color:black;
}
.icon{
    color:#ef8172
}
.icon:hover{
    color:#ff4c68;
}
/*testimonials*/
#testimonials{
    
    
    background-color: #ef8172;
   
}
.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}
.testimonials-image{
    width: 10%;
    border-radius: 100%;
    margin:20px;
}

#press{
    background-color: #ef8172;
    
    padding-bottom: 3%; 
}
.press-logo{
    width:15%;
    margin:20px 20px 50px;
}


/* pricing section*/
#pricing{
    padding:100px;
    
}
.pricing-column{
    padding:3% 2%;
}

.price-text{
    font-size:3rem;
    line-height: 1,5;
}

@media(max-width:1000px){
 #title{
   text-align: center;
 }

.title-image{
    position:static;
    transform : rotate(0);
}
}



/*footer*/

#footer{
      
text-align: center;


}
.social-icon{
    margin:20px 10px;
}
